# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/

# Logs
*.log
logs/
test_output/

#Data
Data/datapoints.csv
Data/variance.csv
demo_implementation/__pycache__/create_anchor_edges.cpython-311.pyc
demo_implementation/__pycache__/transform_to_global_vector.cpython-311.pyc
